<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('default_home') }}">ActuNews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for category in categories %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('default_category', {
                        'alias' : category.alias
                    }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('default_contact') }}">
                    Contact
                </a>
            </li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_AUTHOR') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path("article_new") }}">Créer un Article</a>
                            <a class="dropdown-item" href="{{ path("article_awaiting") }}">Mes Article en Attente</a>
                            {% if is_granted('ROLE_EDITOR') %}
                                <a class="dropdown-item" href="{{ path("article_to_approval") }}">Articles à Valider</a>
                            {% endif %}

                            {% if is_granted('ROLE_CORRECTOR') %}
                                <a class="dropdown-item" href="{{ path("article_to_corrector") }}">Articles à Corriger</a>
                            {% endif %}

                            {% if is_granted('ROLE_PUBLISHER') %}
                                <a class="dropdown-item" href="{{ path("article_to_publication") }}">Articles à Publier</a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path("default_messagerie") }}">Messagerie</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_logout') }}">
                        Déconnexion
                    </a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_login') }}">
                        Connexion
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_register') }}">
                        Inscription
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>